body {
        
font-family: 'Dosis', sans-serif;
font-weight: 10;
margin:0;
background-color:black;
color:white;
line-height: 1.5;
}

#background {
    height: 100%;
    width: 100%;
    position:fixed;
    z-index: -999;
    top: 0;
    left: 0;
    opacity:0.6;
}

div#navbar {
    margin-top:10px;
    font-size: 25px;
    position:fixed;
    width: 100%;
    top: 0;
    left:0;
}

div#home {
    display: inline-block;
    margin: 0 20px;
}
#home:hover {
    color:gray;
} 

div#about {
    display: inline-block;
    margin: 0px 20px;
}
#about:hover {
    color:gray;
}

div#blog {
    display: inline-block;
    margin: 0px 20px;
    cursor:pointer;
}

#blog:hover {
color:gray;
}

div#photos {
    display: inline-block;
    margin: 0px 20px;
    cursor:pointer;

}
#photos:hover{
color:gray;
}
div#contact {
    display: inline-block;
    margin: 0px 20px;
}
#contact:hover {
    color: gray;
}
div#name {
    font-size: 50px;

    padding: 0px 20px;
    padding-top: 20px;
    
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:gray;
}

img {
    height: 100%;
    width: 100%;
    opacity:.6;
}

div#bio {
    padding: 0px 20px;
    width: 800px;
    /* text-align: center */
    margin: auto;
}

#button {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
}

#secondparagraph {
    display:none;
    }

#container {
    margin-top: 42px;
    text-align: center;
    padding:30px;
}