body {
        
font-family: 'Dosis', sans-serif;
margin:0;
background-color: black;
color:white;
line-height:1.5;

}

#background {
    height: 100%;
    width: 100%;
    position:fixed;
    z-index: -999;
    opacity:0.6;
    top: 0;
    left: 0;
}

div#navbar {
    margin-top:10px;
    font-size: 25px;
    position:fixed;
    width: 100%;
    top: 0;
    left:0;
    color:white;
}

div#home {
    display: inline-block;
    margin: 0 20px;
}
#home:hover {
    color:gray;
}

div#about {
    display: inline-block;
    margin: 0 20px;
}
#about:hover {
    color:gray;
}

div#blog {
    display: inline-block;
    margin: 0 20px;
    cursor:pointer;
}

#blog:hover {
color:gray;
}

div#photos {
    display: inline-block;
    margin: 0 20px;
    cursor:pointer;

}
#photos:hover{
color:gray;
}
div#contact {
    display: inline-block;
    margin: 0 20px;
}#contact:hover {
    color: gray;
}

a{
    text-decoration: none;
   color:white;
}
a:hover{
    color:gray;
}

img {
    height: 100%;
    width: 100%;
    opacity:.8;
}
.info {
    margin-top: 120px;
    font-size: 30px;
    font-weight: 400;
    margin-left: 150px;
}

div#name {
    font-size: 40;
}