body {
        
font-family: 'Dosis', sans-serif;
margin:0;
line-height:1.5;
background: #36465d;
}

#background {
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

div#navbar {
    margin-top:10px;
    font-size: 25px;
    position:fixed;
    width: 100%;
    top: 0;
    left:0;
    color:white;

}

div#navbar {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
    position:fixed;
    color: white;
}

div#home {
    display: inline-block;
    margin: 0 20px;
}
    

#home:hover {
    color:gray;
}

div#about {
    display: inline-block;
    margin: 0 20px;
}
#about:hover {
    color:gray;
}

div#blog {
    display: inline-block;
    margin: 0 20px;
    cursor:pointer;

}

#blog:hover {
color:gray;
}

div#photos {
    display: inline-block;
    margin: 0 20px;
    cursor:pointer;

}
#photos:hover{
color:gray;
}
div#contact {
    display: inline-block;
    margin: 0 20px;
}#contact:hover {
    color: gray;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:gray;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.name{
margin: 0 auto;
margin-top: 70px;
font-weight:200;
padding: 10px;

color: white;
text-align: center;
}

div#name2{
font-size:50px;
}

div#job{
font-size: 20px;
opacity:0.8;
}