body {
		
font-family: 'Dosis', sans-serif;
font-weight: 10;
margin:0;

}

#background {
	height: 100%;
	width: 100%;
	position:fixed;
	z-index: -999;
}

div#navbar {
    float: left;
    position:  absolute;
    margin-left: 50px;
    margin-top:10px;

}

div#navbar {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px
}

div#about {
    display: inline-block;
    margin-right: 20px;
}
#about:hover {
	color:gray;
}

div#blog {
    display: inline-block;
    margin-right: 20px;
}

#blog:hover {
color:gray;
}

div#photos {
    display: inline-block;
    margin-right: 20px;
    cursor:pointer;

}
#photos:hover{
color:gray;
}
div#contact {
    display: inline-block;
    margin-right: 20px;
}#contact:hover {
    color: gray;
}
div#name {
    display: block;
    float: right;
    margin-right: 480px;
    font-size: 50px;
    margin-top: 70px;

}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:gray;
}

img {
    height: 100%;
    width: 100%;
    opacity:.8;
}


